build/*
.vs/*
.vscode/*
.idea/*
Dependencies/Vendor/freetype/builds/*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
cmake-build-debug
Umbra2D.exe.manifest
Umbra2D.cbp
x64*
*vcxproj*
imgui.ini
umbra.ini
