[submodule "Dependencies/Vendor/glfw"]
	path = Dependencies/Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Dependencies/Vendor/glm"]
	path = Dependencies/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Dependencies/Vendor/glad"]
	path = Dependencies/Vendor/glad
	url = https://github.com/Dav1dde/glad
[submodule "Dependencies/Vendor/stb"]
	path = Dependencies/Vendor/stb
	url = https://github.com/nothings/stb
[submodule "Dependencies/Vendor/freetype"]
	path = Dependencies/Vendor/freetype
	url = https://github.com/freetype/freetype
[submodule "Dependencies/Vendor/portaudio"]
	path = Dependencies/Vendor/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "Dependencies/Vendor/libsndfile"]
	path = Dependencies/Vendor/libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "Dependencies/Vendor/entt"]
	path = Dependencies/Vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Dependencies/Vendor/imnodes"]
	path = Dependencies/Vendor/imnodes
	url = https://github.com/Nelarius/imnodes
[submodule "Dependencies/Vendor/imgui"]
	path = Dependencies/Vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
